*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITY */
body{
    height:700px;
    background-image: linear-gradient(to bottom, rgb(40, 163, 124) 100px, rgb(232, 232, 232) 100px);
    overflow-y: hidden;
}
.dimension_height{
    height: 600px;
    width: 1100px;
}
.profile{
    height: 50px;
    border-bottom: 1px solid black;
}
.grey_{
    background-color: rgb(227, 227, 227);
}
.size_13{
    font-size: 13px;
}
.size_11{
    font-size: 11px ;
}

/*  ADRESS BOOK  */
.notification{
 height: 55px;
 background-color:rgb(97, 206, 231);
}
.circle-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.heigth_30{
    height: 30px;
}
::placeholder{
    font-size: small;
}


/* CONTACT STYLE */
.height_contacts{
    height: calc(600px - 161px);
}
