<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>BOOLZAP</title>
</head>
<body class="d-flex justify-content-center align-items-center">

    <!-- create connection with vue -->
    <div id="app">

        <!-- create container  -->
        <div class="container dimension_height ">
            <div class="row dimension_height d-flex">

                <!-- create  the address book container -->
                <div class="col-4 border bg-white p-0 ">
                    
                    <!-- my profile div -->
                    <div class="grey_container w-100 grey_ d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <img src="./img/avatar_io.jpg" alt="" class="circle-icon mx-2">
                            <div class="size_13 fw-bold">Tu</div>
                        </div>
                        <div class="d-flex align-items-center mx-2">
                            <i class="fa-solid fa-circle-notch mx-2 fa-lg" style="color: #999999;"></i>
                            <i class="fa-solid fa-message mx-2 fa-lg" style="color: #999999;"></i>
                            <i class="fa-solid fa-ellipsis-vertical mx-2 fa-lg" style="color: #999999;"></i>
                        </div>
                                 
                    </div>
                    
                    <!-- notification div -->
                    <div class="notification w-100 d-flex align-items-center p-3 ">

                        <div class="bg-white circle-icon d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-bell-slash fa-lg" style="color: #61cee7;"></i>
                        </div>

                        <div class="d-flex flex-column justify-content-center mx-2">
                            <div class="size_13">Ricevi notifiche di nuovi messaggi</div>
                            <a class="size_11" href="">Attiva notifiche dekstop</a>
                        </div>
                    </div>

                    <!-- search section -->
                  
                    <nav class="navbar bg-body-tertiary">     
                        <span class="input-group-text bg-white border-0" id="basic-addon1">
                             <i class="fa-solid fa-magnifying-glass fa-xs" style="color: #999999;"></i>
                        </span> 
                        
                        <input type="text" 
                               class=" heigth_30 border-0 w_searchcontacts p-1" 
                               placeholder="Cerca o inizia una nuova chat" 
                               aria-label="Username" aria-describedby="basic-addon1"
                               v-model="search"
                               @keyup="searchContact">
                                   
                    </nav> 

                      <!-- contacts div -->
                    
                         <ul> 
                            <!-- contacts for -->
                            <li  
                                v-show="contact.visible"
                                v-for="(contact, index) in contacts" :key="index" 
                                class="list-unstyled disp_flex"
                                 @click="chatClick(index)"> 

                                 <!-- image of contact and last message -->
                                 <div  class="col grey_container disp_flex align-items-center margin_1 bg-white border-bottom border-light-subtle">
                                    <img :src="contact.avatar" alt="" class=" circle-icon"  >
                                    <div class=" mx-2 ">
                                        <div class="size_13 fw-bold">{{contact.name}}</div>
                                        <div class="size_11 text-secondary">
                                            {{contact.messages[contact.messages.length - 1].message.slice(0, 25)}} ...
                                        </div>         
                                    </div>
                                </div>
                                <div>
                                    <div class="dateSize_ mx-2">{{contact.messages[contact.messages.length - 1].date}}</div>
                                </div>
                             </li>
                         </ul>    
                </div>
                   
                <!-- create  the chat container -->
                <div class="col-8 bg-white p-0">

                    <!-- Chat profile -->
                    <div class="grey_container w-100 grey_ d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img :src="contacts[chatSelected].avatar" alt="" class="circle-icon mx-2">
                                <div class="mx-2">
                                    <div class="size_13 fw-bold">{{contacts[chatSelected].name}}</div>
                                    
                                    <!-- <div class="size_11 text-secondary" v-show="contacts[0].lastAccessData==''">
                                        {{contacts[chatSelected].messages[contacts[chatSelected].messages.length - 1].date}}
                                    </div>  -->
                                    <div class="size_11 text-secondary"> Ultimo accesso:
                                        {{contacts[chatSelected].lastAccessData}}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mx-2">
                                <i class="fa-solid fa-magnifying-glass mx-2 fa-lg" style="color: #999999;"></i>
                                <i class="fa-solid fa-paperclip mx-2 fa-lg" style="color: #999999;"></i>
                                <i class="fa-solid fa-ellipsis-vertical mx-2 fa-lg" style="color: #999999;"></i>
                            </div>  
                    </div>

                    <!-- section of messages -->
                    <div class="messages_container overflow-auto">
                        <div v-for="(elem, index) in contacts[chatSelected].messages " :key="index">
                            <div class="d-flex flex-column">
                                <div class="minh_50 maxw_50 my-1 mx-4 p-2 rounded word-break d-flex flex-column"
                                    :class=" elem.status== 'sent' ? 'green':'white'">
                                    <div class="">{{elem.message}}</div>
                                    <div class="dateSize_">{{contacts[chatSelected].messages[index].date.slice(10,16)}}</div>
                                </div>
                            </div>
                                
                          
                        </div>
                    </div>

                    <!--write message section  -->
                    <div class="grey_container w-100 grey_">
                        <nav class="navbar grey_ ">
                           
                                <span class="input-group-text border-0 grey_" id="basic-addon1">
                                    <i class="fa-regular fa-face-smile fa-lg" style="color: #999999;"></i>
                                </span>
                               
                                    <input type="text" 
                                    class="w_write heigth_40 border-0 p-1" 
                                    placeholder="Scrivi un messaggio" 
                                    aria-label="Username" 
                                    aria-describedby="basic-addon1" 
                                    v-model="newMessage"
                                    @keyup.enter="addMessage()">
                            

                                <span class="input-group-text border-0 grey_" id="basic-addon1">
                                    <i class="fa-solid fa-microphone fa-lg" style="color: #999999;"></i>
                                </span>
                        </nav> 
                        
                    </div>
                   
                </div>
            </div> 
        </div>
       

    </div>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js" type="text/javascript"></script>
</body>
</html>